{{#each model as |employer|}}
  {{#cp-panel}}
    {{#cp-panel-toggle}}
      <h4 class="editable">{{employer.name}}</h4>
      {{fa-icon "chevron-right" size=1}}
    {{/cp-panel-toggle}}
    {{#cp-panel-body}}
      <dl class="dl-horizontal">
        <dt>Department:</dt>
        <dd class="editable">{{employer.department}}</dd>
        <dt>Title:</dt>
        <dd class="editable">{{employer.title}}</dd>
        <dt>Dates:</dt>
        <dd class="editable">{{employer.dates}}</dd>
      </dl>
    {{/cp-panel-body}}
  {{/cp-panel}}
{{/each}}
