{{#each model as |employer|}}
  <div>
    {{#cp-panel}}
      {{#cp-panel-toggle}}
        <div class="drop-down">
          <aside>
            <h4>{{employer.name}}</h4>
          </aside>
          {{fa-icon "chevron-right" size=1}}
        </div>
      {{/cp-panel-toggle}}
      {{#cp-panel-body}}
        <dl class="dl-horizontal">
          <dt>Department:</dt>
          <dd>{{employer.department}}</dd>
          <dt>Title:</dt>
          <dd>{{employer.title}}</dd>
          <dt>Dates:</dt>
          <dd>{{employer.dates}}</dd>
        </dl>
      {{/cp-panel-body}}
    {{/cp-panel}}
  </div>
{{/each}}

