{{#each model as |collaborator|}}
  <div class="collab-item">
    <img src={{collaborator.img}}>
    <div class="collab-text">
      <ul class="list-inline">
        <li>
          <h4><b>{{collaborator.name}}</b></h4>
        </li>
        <li>
          <h5>{{collaborator.projects}} Projects | {{collaborator.location}} | {{collaborator.title}}</h5>
        </li>
        <li title="Personal Website">{{fa-icon "fa-globe"}}</li>
        <li title="Twitter">{{fa-icon "fa-twitter"}}</li>
        <li title="Github">{{fa-icon "fa-github-alt"}}</li>
        <li title="LinkedIn">{{fa-icon "fa-linkedin"}}</li>
        <li title="ImpactStory">{{fa-icon "fa-info-circle"}}</li>
        <li title="ORCiD">iD</li>
        <li title="ResearcherID">R</li>
      </ul>
    </div>
  </div>
{{/each}}