{{#each model as |collaborator|}}
  <li class="collab-item col-md-6">
    <img src={{collaborator.img}}>
    <div class="collab-text">
      <h4>{{collaborator.name}}</h4>
      <h5>{{collaborator.projects}} Projects | {{collaborator.location}} | {{collaborator.title}}</h5>
      <ul class="list-inline">
        {{fa-icon "fa-globe" tagName="li" title="Personal Website"}}
        {{fa-icon "fa-twitter" tagName="li" title="Twitter"}}
        {{fa-icon "fa-github-alt" tagName="li" title="Github"}}
        {{fa-icon "fa-linkedin" tagName="li" title="LinkedIn"}}
        {{fa-icon "fa-info-circle" tagName="li" title="ImpactStory"}}
        <li title="ORCiD">iD</li>
        <li title="ResearcherID">R</li>
      </ul>
    </div>
  </li>
{{/each}}