<main id="profile-projects">
    <section class="full">
        <div class="profile-box">
            <header>
                <h1 class="col-md-6 {{if (eq selected 'title') 'selected'}}" {{action 'projectSort' 'title' false}}>
                    Projects</h1>
                <h2 class="col-md-2 {{if (eq selected 'dateCreated') 'selected'}}" {{action 'projectSort' 'dateCreated' true}}>
                    Date Created</h2>
                <h2 class="col-md-2 {{if (eq selected 'dateModified') 'selected'}}" {{action 'projectSort' 'dateModified' true}}>
                    Last Modified</h2>
                <h2 class="col-md-1 {{if (eq selected 'views') 'selected'}}" {{action 'projectSort' 'views' true}}>
                    Views</h2>
                <h2 class="{{if (eq selected 'registration') 'selected'}}" {{action 'projectSort' 'registration' true}}>
                    Registered</h2>
            </header>
            <div class="profile-content no-padding">
                {{#projects-list model=model sortDefinition=sort}}{{/projects-list}}
            </div>
        </div>
    </section>
</main>