<main id="profile-projects">
  <section class="full">
    <div class="profile-box">
      <header>
        <h1 class="col-md-6 project-sort" onclick={{action 'projectSort' 'name'}}>Projects</h1>
        <h2 class="col-md-2 project-sort" onclick={{action 'projectSort' 'attributes.created'}}>Date Created</h2>
        <h2 class="col-md-2 project-sort" onclick={{action 'projectSort' 'attributes.modified'}}>Last Modified</h2>
        <h2 class="col-md-1 project-sort" onclick={{action 'projectSort' 'stats.views'}}>Views</h2>
        <h2 class="col-md-1.75 project-sort" onclick={{action 'projectSort' 'attributes.registered'}}>Registered</h2>
      </header>
      <div class="profile-content no-padding">
        {{#projects-list model=model sortDefinition=sort}}{{/projects-list}}
      </div>
    </div>
  </section>
</main>