<main id="profile-projects">
  <section class="full">
    <div class="profile-box">
      <header>
        <h1 class="col-md-6">Projects</h1>
        <h5 class="col-md-2 date-field">Date Created</h5>
        <h5 class="col-md-2 date-field">Last Modified</h5>
<!--        {{fa-icon "cog" class="col-md-1" title="Components"}} !-->
<!--       {{fa-icon "users" class="col-md-1" title="Collaborators"}} !-->
<!--        {{fa-icon "file" class="col-md-1" title="Files"}} !-->
        {{fa-icon "code-fork" class="col-md-1" title="Forks"}}
        {{fa-icon "check" class="col-md-1" title="Registered"}}
      </header>
      <div class="profile-content no-padding">
        {{#projects-list model=model}}{{/projects-list}}
      </div>
    </div>
  </section>
</main>